<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CellaDataLayer.Properties.Settings.CellaDbConnectionString"
            connectionString="Data Source=SCRASH-VAIO\SQL2012;Initial Catalog=CellaDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>